body {
    display: grid;
    place-content: center;
    place-items: center; 
}
.btnCloseLogin {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: rgb(17, 39, 99);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    /*
    margin: 10px;*/
}
label {
    color: white;
}

p {
    color: white;
}

#LoginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    row-gap: 15px;
    width: 400px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    background-image: linear-gradient(rgba(43, 43, 146, 0.438), rgba(12, 83, 128, 0.449));
}

.emaildiv {
    margin-left: 20px;
}

.verificationdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 25px;
}

.accountdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}
.forgot-password{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.forgot-password:hover{
    color: rgb(12, 23, 52);
}

.clickable{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.clickable:hover {
    color: rgb(12, 23, 52);
}
.btnLogin {
    background-color: rgb(12, 23, 52);
    width: 100px;
    height: 40px;
    color: white
}

.btnLogin:hover {
    cursor: pointer;
}